@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */
.bg-basso-red {
    background-color: #BD2821 !important;
}

/* .logoBasso:hover{
    transform: scale(1.1);
    transition: 1s;
} */

.logoBasso:hover {
    transform: scale(1.1);
    transition: .5s;
}

/* footer */
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
